* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Reusable */
.full-page {
  margin: 0 230px 130px 230px;
}
.primary-color {
  color: #fd6e0a;
}
.secondary-color {
  color: #474747;
}
.btn {
  color: #fff;
  background-color: #fd6e0a;
  padding: 13px 15px;
  border-radius: 5px;
  text-decoration: none;
}
.btn2 {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  padding: 12px 15px;
  border-radius: 5px;
  margin-left: 15px;
}
p {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}
h1 {
  font-weight: 700;
  font-size: 60px;
  color: #181818;
}
h2 {
  font-weight: 600;
  font-size: 38px;
  color: #474747;
}
h3 {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
h4 {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
}
h5 {
  font-weight: 700;
  color: #474747;
  font-size: 25px;
}
h6 {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
}

/* Header Section */

.header-section {
  margin-bottom: 130px;
  width: 1600px;
  background-color: #fff8f3;
  width: 100%;
  height: 100vh;
  background: url(images/header_bg.png) no-repeat right bottom / 55%,
    url(images/developer.png) no-repeat left 2% center / 6%;
  position: relative;
}
nav {
  padding: 50px 225px 30px 225px;
  display: flex;
  justify-content: space-between;
}
.nav-title {
  font-weight: 800;
  font-size: 40px;
}
.nav-title span {
}
ul {
  display: flex;
  gap: 5px;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: #474747;
  padding: 8px 12px;
  border-radius: 5px;
}
ul li .active {
  background-color: #fd6e0a;
  color: #fff;
}
ul li a:hover {
  background-color: #fd6e0a;
  color: #fff;
}

.banner-description {
  margin: 0 0 185px 230px;
  text-align: left;
  float: left;
  width: 585px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.banner-description a {
  text-decoration: none;
}

.banner-pic img {
  width: 35%;
  margin: 0 34px 0 160px;
  float: right;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.banner-description h1 {
  margin: 10px 0 20px;
}
.banner-description p {
  margin-bottom: 50px;
}

/* About Section */

.about {
  background-color: #fff8f3;
  text-align: center;
  padding: 90px 150px;
  height: 65vh;
}
.about-info {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.info-item {
  font-size: 20px;
}
.info-item span {
  color: #474747;
}
.info-item span,
.info-item b {
  display: block;
}
.about p {
  padding: 30px 0;
}

/* What I Do Section  */

.what-i-do {
  text-align: center;
}
.what-i-do .des {
  padding: 30px 110px;
}
.what-i-do img {
  width: 44px;
  height: 44px;
  display: inline-block;
}
.what-i-do b {
  font-size: 20px;
  display: block;
  padding: 15px 0;
}
.what-info {
  display: flex;
  gap: 20px;
}
.what-item {
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.what-item p {
  font-size: 16px;
}

/* Summary Section  */

.summary h3 {
  text-align: center;
  margin-bottom: 100px;
}
.summary-container {
  display: flex;
  gap: 50px;
}
hr {
  margin: 15px 0;
  color: #d1d1d1;
}
.summary-container p {
  font-size: 16px;
  color: #757575;
}
.summary-container h4 {
  margin-bottom: 25px;
}
.summary-container h6 {
  margin: 10px 0 15px 0;
}
.summary .btn {
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* Contact section */

.contact {
  padding: 80px 230px 100px 230px;
  display: flex;
  gap: 100px;
  background: #fff8f3;
}
.contact h3 {
  margin-bottom: 25px;
}
.contact p {
  margin-bottom: 25px;
  font-size: 16px;
}
.contact .icons i {
  font-size: 25px;
  margin: 0 10px;
}
.message-section button {
  border: none;
  font-size: 20px;
  padding: 8px 13px;
  display: block;
}
.message-section input,
textarea {
  width: 100%;
  padding: 20px;
  border: none;
  margin: 0 20px 20px 0;
}
